.mainWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  background: url("../../assets/images/background.jpg") 0 0 / 1200px 670px
    no-repeat;
  height: 670px;
  width: 1200px;
}

.content {
  height: 520px;
  display: flex;
  align-items: center;
  justify-content: center;
}
