.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}

.logo {
  width: 520px;
}

.text {
  color: white;
  font-family: Doom;
  font-size: 30px;
  margin-top: -30px;
}
