.fieldContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.label {
  font-size: 24px;
  width: 200px;
  text-align: end;
  margin-right: 20px;
}

.input {
  background: url('/assets/images/inputs/small_input.png') 0 0 / 153px 53px no-repeat;
  width: 153px;
  height: 53px;
  border: none;
  font-family: Doom;
  font-size: 28px;
  color: white;
  box-sizing: border-box;
  padding-left: 10px;
  text-shadow: 4px 2px black;
  &::placeholder {
    font-size: 23px;
  }
}

.startGame {
  color: #aaa;
  margin-top: 40px;
  cursor: not-allowed;
  &.isValid {
    color: #fffd6a;
    cursor: pointer;
  }
}
